<h1>Members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>|<th>
    <th>Address</th>

  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="members/<%= member.id %>"><%= member.pretty_name %></a></td>
    <td></td>
    <td><%= member.address %></td>
  </tr>
  <% end %>
</table>
