<h2>Register new member</h2>
<form method="POST" action="/members">

    <div>
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name"/>
    </div>

    <div>
      <label for="second_name">Second Name:</label>
      <input type="text" name="second_name" id="second_name"/>
    </div>

    <div>
      <label for="address">Address:</label>
      <input type="text" name="address" id="address"/>
    </div>

    <div>
      <input type="submit" value="Register new member"/>
    </div>
</form>
