<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daddy Belly Buster Gym</title>
  </head>
  <body>
    <main>
      <nav id="menu">
        <li class="menu-item"><a href='/members'>Members</a></li>
        <li class="menu-item"><a href='/sessions'>Classes</a></li>
        <li class="menu-item"><a href='/bookings'>Bookings</a></li>
      </nav>
      <section>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
