<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daddy Belly Buster Gym</title>
      <link rel="stylesheet" type="text.css" href="/styles/forms.css" />
      <link rel="stylesheet" type="text.css"href="/styles/structure.css" />
      <link rel="stylesheet" type="text/css"href="/styles/tables.css"  />
  </head>
  <body>
    <main class ="flex flex--row">
      <nav>
        <li><a href='/'>Home</a></li>
        <li><a href='/members'>Members</a></li>
        <li><a href='/sessions'>Classes</a></li>
        <li><a href='/bookings'>Bookings</a></li>
      </nav>
      <section id ="content">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
