<h1>Bookings</h1>
<p><a href="bookings/new">Add new Booking</a></p>
<table id="table_bookings">
  <tr>
    <th>Member</th>
    <th>Class</th>
    <th>Remove</th>
  </tr>
  <% for booking in @bookings %>
  <tr>
    <td><%= booking.member.pretty_name %></td>
    <td><%= booking.session.title %></td>
    <td><form action="/bookings/<%= booking.id %>/delete" method="POST"><input type="submit" value="Delete"></form></td>
  </tr>
  <% end %>
</table>
