<h2>Add new booking</h2>
<form method="POST" action="/bookings">

  <div>
    <label for="member_select">Select Member:</label>
      <select name="member_id" id="member_select">
          <% @members.each do |member| %>
              <option value="<%= member.id %>"><%= member.pretty_name %></option>
              <% end %>
      </select>
  </div>

  <div>
    <label for="session_select">Select Class:</label>
      <select name="session_id" id="session_select">
        <% @sessions.each do |session| %>
          <option value="<%= session.id %>"><%= session.title %></option>
          <% end %>
      </select>
  </div>
  <div>
    <input type="submit" value="Add"/>
  </div>
</form>
